Packages

In [ ]:
import pandas as pd
import wandb

Data file paths

In [ ]:
holiday_events_path = "../source_files/holidays_events.csv"
oil_path = "../source_files/oil.csv"
stores_path = "../source_files/stores.csv"
test_path = "../source_files/test.csv"
train_path = "../source_files/train.csv"

In [54]:
holiday_events_df = pd.read_csv(holiday_events_path)
holiday_events_df = holiday_events_df.rename(columns={'type': 'day_type'})
holiday_events_df = holiday_events_df.rename(columns={'locale': 'day_locale'})
holiday_events_df = holiday_events_df.rename(columns={'locale_name': 'day_locale_name'})
holiday_events_df = holiday_events_df.rename(columns={'description': 'day_description'})
holiday_events_df = holiday_events_df.rename(columns={'transferred': 'day_transferred'})

holiday_events_df.head()

,date,day_type,day_locale,day_locale_name,day_description,day_transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [53]:
oil_df = pd.read_csv(oil_path)
oil_df = oil_df.rename(columns={'dcoilwtico': 'oil_price'})

oil_df.head()

         date  oil_price
0  2013-01-01        NaN
1  2013-01-02      93.14
2  2013-01-03      92.97
3  2013-01-04      93.12
4  2013-01-07      93.20

In [50]:
stores_df = pd.read_csv(stores_path)
stores_df = stores_df.rename(columns={'city': 'store_city'})
stores_df = stores_df.rename(columns={'state': 'store_state'})
stores_df = stores_df.rename(columns={'type': 'store_type'})
stores_df = stores_df.rename(columns={'cluster': 'store_cluster'})

stores_df.head()

,store_nbr,store_city,store_state,store_type,store_cluster
0,1,Quito,Pichincha,D,13
1,2,Quito,Pichincha,D,13
2,3,Quito,Pichincha,D,8
3,4,Quito,Pichincha,D,9
4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4

In [26]:
test_df = pd.read_csv(test_path)
test_df.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [39]:
train_df = pd.read_csv(train_path)
train_df

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

In [51]:
def merge_dfs(df):
    df = df.merge(holiday_events_df, how='left', on='date')
    df = df.merge(oil_df, how='left', on='date')
    df = df.merge(stores_df, how='left', on='store_nbr')
    return df

In [58]:
train_merged = merge_dfs(train_df)
train_merged.to_csv("../processed_files/train_merged.csv", index=False)

In [57]:
test_merged = merge_dfs(test_df)
test_merged.to_csv("../processed_files/test_merged.csv", index=False)

In [ ]:
run = wandb.init(project="GNNDemandForecasting", job_type="dataset-creation")

# Create a new artifact for train and test datasets
train_dataset = wandb.Artifact('train-dataset', type='dataset')
train_dataset.add_file("../processed_files/train_merged.csv")

test_dataset = wandb.Artifact('test-dataset', type='dataset')
test_dataset.add_file("../processed_files/test_merged.csv")

run.log_artifact(train_dataset)
run.log_artifact(test_dataset)

wandb.finish()

/Users/aizhanm/Desktop/UM-4/demandForecasting/venv_demand/lib/python3.10/site-packages/pydantic/_internal/_generate_schema.py:2249: UnsupportedFieldAttributeWarning: The 'repr' attribute with value False was provided to the `Field()` function, which has no effect in the context it was used. 'repr' is field-specific metadata, and can only be attached to a model field using `Annotated` metadata or by assignment. This may have happened because an `Annotated` type alias using the `type` statement was used, or if the `Field()` function was attached to a single member of a union type.
  warnings.warn(
/Users/aizhanm/Desktop/UM-4/demandForecasting/venv_demand/lib/python3.10/site-packages/pydantic/_internal/_generate_schema.py:2249: UnsupportedFieldAttributeWarning: The 'frozen' attribute with value True was provided to the `Field()` function, which has no effect in the context it was used. 'frozen' is field-specific metadata, and can only be attached to a model field using `Annotated` metadata or by assignment. This may have happened because an `Annotated` type alias using the `type` statement was used, or if the `Field()` function was attached to a single member of a union type.
  warnings.warn(
wandb: Currently logged in as: aizhan to https://api.wandb.ai. Use `wandb login --relogin` to force relogin

wandb: ERROR The nbformat package was not found. It is required to save notebook history.